@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

.movie-detail {
  display: flex;
  padding: 10px;
  border-radius: 0px;
  opacity: 1;
  height: 205px;
  width: auto;
  position: relative;
}

.movie-detail img {
  width: 140px;
  height: auto;
  margin-right: 20px;
  opacity: 1;
  border-radius: 10px;
}

.movie-detail div {
  width: 220px;
  height: 100%;
  color: white;
  font-family: 'Salsa', cursive;
  font-size: 10px;
}

.movie-detail .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.movie-detail:hover .play-button {
  opacity: 1;
}

.movie-detail .video-container {
  width: 100%;
  height: 100%;
}

.movie-detail .video-container iframe {
  width: 100%;
  height: 100%;
}


/* Responsive styling */
@media screen and (max-width: 768px) {
  .movie-detail {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .movie-detail img {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .movie-detail .play-button {
    left: 50%;
  }
}


.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.close-button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
