body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    transition: background 1s ease-in-out;
    color: #333;
    overflow: hidden;
}

.weather-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: #c0c4c0;
    padding: 20px;
    border-radius: 10px;
    height: auto;
    width: 600px;
}

.city {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.cityNdate {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.row-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 0 0px;
    width: 100%;
}

#time {
    font-size: 16px;
    margin-top: 5px;
}

#temperature {
    font-size: 36px;
    font-weight: bold;
    color: #ece6e5;
}

#is-day {
    font-size: 18px;
    margin-top: 10px;
}

.whether-tempreture {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

#weather-icon {
    width: 100px;
    height: 100px;
}

#wind-speed {
    font-size: 18px;
    margin-top: 10px;
    color: #2196f3;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
}
