.container-1 {
  display: flex;
  justify-content: start;
  width: 100vw;
  height: 100vh;
}

.explore {
  margin-top: -8px;
  width: 20%;
  height: 100vh;
  background-color: #000f62; 
}

.queries {
  width: 80%;
  height: 100vh;
  box-sizing: border-box;
  overflow-y: auto;
}
