<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Students</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-4">
    <h2>Students List</h2>
    
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Roll No.</th>
            <th>Department</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${students}">
            <td th:text="${student.name}"></td>
            <td th:text="${student.studentId}"></td>
            <td th:text="${student.department}"></td>

        </tr>
        </tbody>
    </table>
    
    <a class="btn btn-secondary" th:href="@{/AddStudent}">Add Student</a>
    <a class="btn btn-secondary" href="/">Back</a>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</body>
</html>
