body {
  background: url('./images/wave-haikei.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  overflow-y: hidden;
  overflow-x: hidden;
}

