/* Search.css */


.result {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-around;
  width: 100vw;
}

.mainVideo {
  height: 450px;
  width: 75%;
  margin: 1% 1% 0% 1%;
  background-color: rgb(15, 16, 16);
}

.sideVideo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 1.0rem;
  padding: 1%;
}

.side {
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 100vh;
  margin-left: 5px;
}

.side::-webkit-scrollbar {
  width: 10px;
}

.side::-webkit-scrollbar-thumb {
  background-color: #373887; 
  border-radius: 5px; 
}

.side::-webkit-scrollbar-track {
  background-color: #3859d1;
}