body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

div {
    margin-bottom: 15px;
}

label {
    margin-right: 10px;
}

input {
    padding: 5px;
    width: 200px;
}

button {
    padding: 8px;
    cursor: pointer;
}

#imageContainer {
    display: flex;
    flex-wrap: wrap;
}

img {
    max-width: 100%;
    height: auto;
    margin: 5px;
}
