@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.container-2 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 10%;
  width: auto;
  border-radius: 10px;
  background-color: rgb(15 50 91 / 49%);
  margin: 10px;
  padding: 10px;
}

.head img {
  height: 65px;
  width: 75px;
  margin-right: 10px;
}

.head p {
  font-family: 'Grape Nuts', cursive;
  font-weight: bold;
  font-size: 24px;
}

.body {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: auto;
  border-radius: 10px;
  background-color: rgb(15 50 91 / 49%);
  margin: 5px;
  padding: 5px;
  overflow-y: scroll;
  scroll-behavior: smooth;

  /* Stylish Scrollbar */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #4b92ffd1 #1c1a1c; /* For Firefox */

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #4b92ffd1; /* Scrollbar thumb color */
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: #1c1a1c; /* Scrollbar track color */
    border-radius: 10px;
  }
}


.languages {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
  height: auto;
  width: auto;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
}

.language {
  display: flex;
  justify-content: start;
  align-items: center;
  height: auto;
  width:auto;
  padding-left: 5px;
  border-radius: 10px;
  transition: .3s ease-in-out all;
}

.language:hover {
  background-color: #19386579;
  cursor: pointer;
}

.frameworks {
  display: flex;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
  gap: 5px;
  justify-content: center;
  height: auto;
  width: auto;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
}

.framework {
  display: flex;
  justify-content: start;
  align-items: center;
  height: auto;
  width:auto;
  padding-left: 5px;
  border-radius: 10px;
  transition: .3s ease-in-out all;
}

.framework:hover {
  background-color: #19386579;
  cursor: pointer;
}



/* 
.fotter {
  height: 10%;
  width: auto;
  border-radius: 10px;
  background-color: #000f62;
  margin: 10px;
  padding: 10px;
} */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(15 50 91 / 49%);
  height: 10%;
  width: auto;
  border-radius: 10px;
  margin: 5px;
}

        .user-profile {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
        }

        .user-profile img {
            width: 40px; /* Adjust the size as needed */
            height: 40px; /* Adjust the size as needed */
            border-radius: 50%; /* Make it a circular image */
            margin-right: 10px;
        }

        .user-profile .user-name {
            font-weight: bold;
            font-size: 15px;
            font-family: 'Ubuntu', sans-serif;
        }

        