<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/CSS/whetherApp.css">
  <title>Weather Application</title>
</head>

<body>
  <video autoplay muted loop>
    <source src="/pexels_videos_4002 (2160p).mp4" type="video/mp4"> 
  </video>
  <form action="#" method="post" th:object="${whetherObject}" class="weather-form">
    <div class="form-div">
      <div class="name-div">
        <input type="text" name="city" id="city" th:field="*{name}" class="input-city"  placeholder="Enter city name...">
      </div>
      <button type="submit" class="btn" ><a href="resultPage"></a>Get Weather</button>
    </div>
  </form>
</body>

</html>
